# shellcheck disable=SC2155
use flake

export PHP_DOCBOOK_CONFIG="$(pwd)/.config"
export PHP_DOCBOOK_DATA="$(pwd)/.data"
export PHP_DOCBOOK_LOG_LEVEL=debug
export PHP_DOCBOOK_LOG_FILE="$(pwd)/docbook.log"
